<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage</title>
    {% comment %} {% load static %} {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/manage.css' %}" /> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/base.css' %}" /> {% endcomment %}
  </head>
  <body>
    {% comment %} <header class="header">
      <div class="header_logo">
        <a href="{% url 'main' %}"
          ><img
            class="header_logo_img"
            src="{% static 'assets/img/logo_inn.jpg' %}"
            alt=""
        /></a>
      </div>

      <section class="menu_header">
        <nav class="item-header">
          <a href="">Home</a>
          <a href="">About</a>
          <a href="">Services</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
          {% if user.is_authenticated %}
          <a href="{% url 'manage' %}">Manage</a>
          <a href="{% url 'upload' %}">Upload</a>
          <a href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </nav>
      </section>
    </header> {% endcomment %}
    <hr>
    <div class="container">
        <table>
            <tr>
                <th>ID</th>
                <th>Kiểu nhà</th>
                <th>Địa chỉ</th>
                <th>Tỉnh/Thành phố</th>
                <th>Quận/Huyện</th>
                <th>Phố/Phường/Xã</th>
                <th>Giá tiền 1 tháng</th>
                <th>Diện tích (m2)</th>
                <th>Mô tả</th>
                <th>Image</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for field in housePosts %}
            <tr>
                <td>{{ field.id }}</td>
                <td>{{ field.house_type.house_type }}</td>
                <td>{{ field.address }}</td>
                <td>{{ field.province.province }}</td>
                <td>{{ field.district.district }}</td>
                <td>{{ field.ward.ward }}</td>
                <td>{{ field.price_per_month }}</td>
                <td>{{ field.area }}</td>
                <td>{{ field.description }}</td>
                <td>
                    {% for img in images %}
                    {%if field.id == img.houses_id %}
                    <img width="50px" height="50px" src="/{{img.images}}">
                    {%endif %}
                    {% endfor %}
                </td>
                <td><a class="update_btn" href="{% url 'update' field.id %}"> <p> Cập nhật</p></a></td>
                <td><a class="cancel_btn" href="{% url 'delete' field.id %}"><p>Xóa</p> </a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>
