<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {% comment %} {{ form.as_p }} {% endcomment %}
  {% for field in form %}
  {% if field.name != 'password' %}
  <p>
    <span>{{ field.name.title }}</span>
    <input type="text" name="{{ field.name }}" autocomplete="off" placeholder="Enter {{ field.name }}" class="form">
  </p>
  {% else %}
  <p>
    <span>{{ field.name.title }}</span>
    <input type="password" name="{{ field.name }}" autocomplete="off" placeholder="Enter {{ field.name }}" class="form">
  </p>
  {% endif %}
  {% endfor %}
  <button type="submit">Log In</button>
  <p>Trang đăng nhập này chỉ dành cho admin, nếu bạn không phải admin vui lòng ấn <button><a href="{% url 'main' %}">vào đây</a></button> để trở về trang chủ!</p>
</form>