<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>

    <div class="main">
        <div class="content">
            <h1>Web nhà trọ<br><span>Uy tín</span> <br>Lựa chọn tối ưu</h1>
            <p class="par">Dịch vụ nhà trọ tiên phong hàng đầu</p>


                <div class="form">
                    <h2>Đăng nhập</h2>
                    <input type="text" class="input-login-username"  placeholder="Email">
                    <input type="password" class="input-login-password"  placeholder="Password"/>
                    <button class="btnn"><a class="login__signInButton" href="#">Login</a></button>

                    <p class="link">Nếu bạn chưa có tài khoản<br>
                    <a href="dangky.html">Đăng ký </a> </a></p>
                    <p class="liw">tại đây</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="main.js"></script>
   
</html>