<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage nhà trọ</title>
    <link rel="stylesheet" href="./assets/register.css">
</head>
<body>

    <div class="main">
        <div class="content">
            <h1>Web nhà trọ<br><span>Uy tín</span> <br>Lựa chọn tối ưu</h1>
            <p class="par">Dịch vụ nhà trọ tiên phong hàng đầu</p>


                <div class="form">
                    <h2>Đăng ký</h2>
                    <input type="text" id="username" name="tendangnhap" placeholder="Tên đăng nhập"><span id="username_error"></span>
                    <input type="text"  placeholder="email" class="input-signup-username" />
                    <input type="password" id="password" name="matkhau"  placeholder="Password">
                    <input type="password" id="re_password" placeholder="Nhập lại password"><span id="re_error"></span>
                    <input type="number" id="phone" name="dienthoai" placeholder="Số điện thoại">
                    <button class="btnn"><a class="signup__signInButton" href="#">Login</a></button>

                    <p class="link">Nếu bạn chưa có tài khoản<br>
                    <a href="#">Đăng ký </a> </a></p>
                    <p class="liw">tại đây</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>