{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/Home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/range-slider.css' %}">

    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-free-6.1.1-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-free-6.1.1-web/css/all.css' %}">
    <script type="text/javascript" src="{% static 'js/starter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/submit_footer_home.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/option-click.js' %}"></script>


    <title>Trang chủ</title>
</head>

<body>
    <header id="header-menu" class="header">
        <div class="header_logo">
            <a href="{% url 'main' %}"><img class="header_logo_img" src="{% static 'assets/img/Home_logo.png' %}" alt=""></a>
        </div>

        <section class="menu_header">
            <nav class="item-header">
               <a href="{% url 'main' %}">Trang chủ</a> <div id="mobile-menu" class="menu_btn"><i class=" fa-solid fa-bars"></i></div> 
               <a href="{% url 'contact' %}">Liên Lạc</a>
               <a href="{% url 'map' %}">Bản Đồ</a>
                {% if user.is_authenticated %}
               <a href="{% url 'manage' %}">Quản Lý</a>
               <a href="{% url 'upload' %}">Đăng Tải</a>
               <a href="{% url 'logout' %}">Đăng Xuất</a>
                {% else %}
               <a href="{% url 'login' %}">Đăng Nhập</a>
                {% endif %}
            </nav>
        </section>
    </header>


    <div class="Length">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="range-slider">
                <div data-min="0" data-max="150000" data-unit="USD" data-name="price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <form class="search-area" method="post" action="{% url 'search_result' %}">
        {% csrf_token %}
        <div class="search-box">
            <div class="search-input-form">
                <div class="search">
                    <input type="text" id="input" onclick="searchFunction()" class="searchTerm" autocomplete="off" name="search_text" placeholder="Nhập vào loại nhà, địa chỉ, khu vực, diện tích hoặc gía tiền...">

                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>

                </div>
                <ul class="list"><li></li></ul>
            </div>
        </div>
    </form>
   
    <nav class="container">
        <form class="search-form" method="post" class="search-form" action="{% url 'filter_result' %}">
            {% csrf_token %}
            <div class="search_select">
                <div class="select">
                    <select name="house_type" id="house_type">
                        <option value="" disabled selected>Loại nhà đất</option>
                        {% for type in types %}
                        <option value="{{type.id}}">{{ type.house_type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="select">
                    <select name="district" id="district">
                        <option value="" disabled selected>Quận/Huyện</option>
                        {% for district in districts %}
                        <option value="{{district.id}}">{{ district.district }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="select">
                    <select name="ward" id="ward">
                        <option value="" disabled selected>Phường/Xã</option>
                        {% for ward in wards %}
                        <option value="{{ward.id}}">{{ ward.ward }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="select">

                    <select name="price" id="price">
                        <option value="" disabled selected>
                            Mức giá
                        </option>
                        <option value="1">Dưới 3 triệu</option>
                        <option value="2">3 - 5 triệu</option>
                        <option value="3">5 - 7 triệu</option>
                        <option value="4">Trên 7 triệu</option>
                    </select>
                </div>

                <div class="select">
                    <select name="area" id="area">
                        <option value="" disabled selected>Diện tích</option>
                        <option value="1">Dưới 30m2</option>
                        <option value="2">30m2 - 50m2</option>
                        <option value="3">Trên 50m2</option>
                    </select>
                </div>

                    <button type="submit" class="filterButton" style="display:none;">
                        <span>Áp dụng</span> 
                    </button>
            </div>

             
        </form>
        <div class="page-content">
            {%for post in page_obj%}
            <div class="new-post">
                <article class="list_new_post">

                    <!-- branding_landlords -->
                    <div class="branding_landlords">
                        <div class="branding_image_landlord">
                            <h1 class="branding_image_landlord-title">{{post.house_type.house_type}} - Hà Nội - {{ post.district.district }}</h1>
                        </div>
                    </div>
                    <!-- residential-card__image -->


                    <div class="residential-card__image">
                        <div class="residential-card__image-content">
                            <div class="residential-slides">
                                <a href="{% url 'index' post.id %}" class="new-post_link"><img id="show1" class="residential-slides_img" src="/{{post.thumbnail}}" alt="" /></a>
                            </div>

                            {% comment %} <button class="arrow_right">
                                <i class="fa-solid fa-angle-left" onclick="prev1()"></i>
                            </button>

                            <button class="arrow_left">
                                <i class="fa-solid fa-angle-right" onclick="next1()"></i>
                            </button> {% endcomment %}
                        </div>
                    </div>


                    <!-- residential-card__content -->
                    <div class="residential-card__content">
                        <div class="residential-card_item">
                            <div class="residential-card_item_list">
                                <div class="residential-card_price">
                                    <h2>{{post.price_per_month}} triệu/tháng</h2>
                                </div>
                                <div class="residential-card_item_extend">
                                    <button class="residential-card_item_save_property">
                                        <i class="fa-regular fa-star"></i>
                                    </button>
                                    <button class="residential-card_item_ellipsis">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="residential-card_address">
                                <span>{{ post.address }}, {{ post.ward.ward }}, {{ post.district.district }}, Hà Nội</span>
                            </div>

                            <div class="residential-card_type">
                                {%if post.wc == 1 %}
                                <div class="residential-card_type_quanity">
                                    <i class="fa-solid fa-bath"></i>
                                </div>
                                {%endif%}

                                {%if post.car_parking_area == 1 %}
                                <div class="residential-card_type_quanity">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                {%endif%}

                                {%if post.cooking_area == 1 %}
                                <div class="residential-card_type_quanity">
                                    <i class="fa-sharp fa-solid fa-fire-burner"></i>
                                </div>
                                {%endif%}

                                <div class="residential-card_house_type">
                                    <div class="residential-card_house_type_text">{{post.house_type.house_type}}</div>
                                </div>

                            </div>
                        </div>
                    </div>

                    </a>
                </article>
            </div>
            {% endfor %}
           
            {% if "/search" and "/filter" in request.path %}
            {% if searches|length == 0 %}
            <h1 class="not_result">Không có kết quả phù hợp!</h1>
            {% endif %}
            {% endif %}

            <!-- Phân trang ở đây -->
            {% if page_obj.has_other_pages %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a class="first_page_number" href="?page=1">&laquo; first</a>
                    <a class="previous_page_number" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current-page">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                    <a class="next_page_number" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="last_page_number" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    </nav>

    <footer class="footer">
        <div class="footer_list-item">
            <div class="footer_text">
                <div class="contact_footer">
                    CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM
                    <li><i class="fa-regular fa-location-dot"></i><p>Tầng 31, Keangnam Hanoi Landmark, Phạm Hùng, Nam Từ Liêm, Hà Nội</p></li>
                    <li><i class="fa-regular fa-phone-volume"></i><p>(024) 3562 5939 - (024) 3562 5940</p></li>
                </div>
            </div>
        </div>
        <div class="footer_list-item">
            <div class="footer_text">HƯỚNG DẪN
                    <li><a href="">Báo giá & hỗ trợ</a></li>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="">Thông báo</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Sitemap</a></li>
                
            </div>
        </div>
        <div class="footer_list-item">
            <div class="footer_text">QUY ĐỊNH
                <ul>
                    <li><a href="">Quy định đăng tin</a></li>
                    <li><a href="">Quy chế hoạt động</a></li>
                    <li><a href="">Điều khoản thỏa thuận</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Giải quyết khiếu nại</a></li>
                    <li><a href="">Góp ý báo lỗi</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_list-item">
            <div class="input_footer_text">
                ĐĂNG KÝ NHẬN TIN
            </div>
            <form class='form_home'>
				<div >
					<input class="input_footer" type="text" id="username" placeholder="Nhập tên của bạn" />
					<span></span>
					<small class = "color_home"></small>
				</div>
				<div >
					<input class="input_footer" type="email" id="email_home" placeholder="Nhập Email của bạn" />
					<span></span>
					<small class = "color_home"></small>
				</div>
				
				
                <button class="input_submit-btn"><input type="submit" class="input_submit"></button>
                <div id="success-message-home" style="display:none;">Đăng ký thành công!</div>
			</form>
        </div>
    </footer>

    <script>
        const header = document.getElementById('header-menu');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenu.onclick = function() {
            var isClosed = header.clientHeight === 60;
            if (isClosed) {
                header.style.height = "auto";
            }
            else{
                header.style.height = "60px";
            }
        }

    </script>

</body>
   
</html>

   

