{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" href="{% static './assets/fonts/fontawesome-free-6.1.1-web/css/all.min.css' %}">
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
			integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
    <script type="text/javascript" src="{% static 'js/onclickImg.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/submit_footer.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="{% static 'js/map.js' %}"></script>

    <title>Web tro</title>
</head>
<body>
    <header id="header-menu" class="header">
        <div class="header_logo">
            <a href="{% url 'main' %}"><img class="header_logo_img" src="{% static 'assets/img/Home_logo.png' %}" alt=""></a>
        </div>

        <section class="menu_header">
            <nav class="item-header">
                <a href="{% url 'main' %}">Trang chủ</a><div id="mobile-menu" class="menu_btn"><i class=" fa-solid fa-bars"></i></div> 
                <a href="{% url 'services' %}">Dịch Vụ</a>
                <a href="{% url 'contact' %}">Liên Lạc</a>
                 {% if user.is_authenticated %}
                <a href="{% url 'manage' %}">Quản Lý</a>
                <a href="{% url 'upload' %}">Đăng Tải</a>
                <a href="{% url 'logout' %}">Đăng Xuất</a>
                 {% else %}
                <a href="{% url 'login' %}">Đăng Nhập</a>
                 {% endif %}
            </nav>
        </section>
    </header>

    <div class="container">
        <div class="inn_infor">
            <div class="inn_image">
                <div class="inn_slides">
                    <button class="btn_arrow_left"><i class="fa-solid fa-angle-left prev"></i></button>
                    <div class="img_slides">
                        <img class="img_slides" src="/{{ house_infomation.thumbnail }}" alt="">
                    </div>
                    {% comment %} <img class="img_slides" src="{% static './assets/img/20230129103403-29ad_wm.jpg' %}" alt=""> {% endcomment %}
                    <button class="btn_arrow_right"><i class="fa-solid fa-angle-right next"></i></button>
                </div>


                <div class="inn_img">
                    {% for img in images %}
                        <div class="item_inn_imgae active"><img src="/{{ img.images }}" alt=""></div>
                    {% endfor %}
                </div>
            </div>
            <div class="inn_title_price">
                <div class="inn_title">
                    <h1>{{ house_infomation.house_type.house_type }}</h1> 
                    <p>{{ house_infomation.address }}, {{ house_infomation.ward.ward }}, {{ house_infomation.district.district }}, {{ house_infomation.province.province }}</p>          
                </div>
                
                <div class="inn_price">
                    <h1>{{ house_infomation.price_per_month }} triệu/tháng</h1>
                </div>
            </div>
            
            <div class="inn_information">
                <div class="inn_information_item">Diện tích
                    <h1>{{ house_infomation.area }}m2</h1>
                </div>
                <div class="inn_information_item">
                    Nội thất
                    {% if house_infomation.air_conditioner == 1 and house_infomation.wardrobe == 1 and house_infomation.fan == 1 and house_infomation.electric_water_heater == 1 %}
                    <h1>Đầy đủ</h1>
                    {% else %}
                    <h1>
                        {% if house_infomation.air_conditioner == 1 %}Điều hòa{% endif %}{% if house_infomation.wardrobe == 1 %} Tủ{% endif %}{% if house_infomation.fan == 1 %} Quạt{% endif %}{% if house_infomation.electric_water_heater == 1 %} Nóng lạnh{% endif %}
                    </h1>
                    {% endif %}
                </div>
                <div class="inn_information_item">Nhà vệ sinh
                {% if house_infomation.wc == 0 %}
                    <h1>Vệ sinh chung</h1>
                {% else %}
                    <h1>Vệ sinh riêng</h1>
                {% endif %}
                </div>
                <div class="inn_information_item">Bãi đỗ ô tô
                {% if house_infomation.car_parking_area == 0 %}
                    <h1>Không có</h1>
                {% else %}
                    <h1>Có</h1>
                {% endif %}
                </div>
                <div class="inn_information_item">Khu để xe
                {% if house_infomation.parking_area == 0 %}
                    <h1>Không có</h1>
                {% else %}
                    <h1>Có</h1>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="inn_describe">
            <div class="inn_describe_title">
                <h1>Mô tả</h1>
            </div>
            <div class="inn_detailed_description">
                <p>{{ house_infomation.description }}</p>
            </div>
        </div>
        
        <div class="inn_describe">
            <div class="inn_describe_title">
                <h1>Phụ phí</h1>
            </div>
            <div class="inn_detailed_description">
                <p>Tiền nước: {{ house_infomation.price_per_water_num }} đồng</p>
                <p>Tiền điện: {{ house_infomation.price_per_electric_num }} đồng/số</p>
                <p>Phí môi trường: {{ house_infomation.junk_money }} đồng</p>
            </div>
        </div>

        <div class="inn_describe">
            <div class="inn_describe_title">
                <h1>Ghi chú:</h1>
            </div>
            <div class="inn_detailed_description">
                {% if house_infomation.pet_allow == 0 %}
                <p>Không cho phép nuôi thú</p>
                {% else %}
                <p>Cho phép nuôi thú</p>
                {% endif %}
                {% if house_infomation.cooking_area == 0 %}
                <p>Không có khu vực nấu ăn</p>
                {% else %}
                <p>Có khu vực nấu ăn</p>
                {% endif %}
            </div>
        </div>
 
        <div class="map_API">
            <h1 class="map_title">Bản đồ</h1>
            <div id="map"></div>

            <!-- 
              The `defer` attribute causes the callback to execute after the full HTML
              document has been parsed. For non-blocking uses, avoiding race conditions,
              and consistent behavior across browsers, consider loading using Promises
              with https://www.npmjs.com/package/@googlemaps/js-api-loader.
              -->
              <script>
                (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="_ib_",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
                  key: "AIzaSyDNI_ZWPqvdS6r6gPVO50I4TlYkfkZdXh8",
                  // Add other bootstrap parameters as needed, using camel case.
                  // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
                });
              </script>
        </div>

    <footer class="footer">
        <div class="footer_list-item">
            <div class="footer_text">
                <div class="contact_footer">
                    CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM
                    <li><i class="fa-regular fa-location-dot"></i><p>Tầng 31, Keangnam Hanoi Landmark, Phạm Hùng, Nam Từ Liêm, Hà Nội</p></li>
                    <li><i class="fa-regular fa-phone-volume"></i><p>(024) 3562 5939 - (024) 3562 5940</p></li>
                </div>
            </div>
        </div>
        <div class="footer_list-item">
            <div class="footer_text">HƯỚNG DẪN
                    <li><a href="">Báo giá & hỗ trợ</a></li>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="">Thông báo</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Sitemap</a></li>
                
            </div>
        </div>
        <div class="footer_list-item">
            <div class="footer_text">QUY ĐỊNH
                <ul>
                    <li><a href="">Quy định đăng tin</a></li>
                    <li><a href="">Quy chế hoạt động</a></li>
                    <li><a href="">Điều khoản thỏa thuận</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Giải quyết khiếu nại</a></li>
                    <li><a href="">Góp ý báo lỗi</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_list-item">
            <div class="input_footer_text">
                ĐĂNG KÝ NHẬN TIN
            </div>    
            {% comment %} </div>
            <input type="text" id="input_name" class="input_footer" placeholder="Nhập tên của bạn"></input>
            <input type="text" id="input_email" class="input_footer" placeholder="Nhập Email của bạn"></input>
            <button class="input_submit-btn"><input type="submit" class="input_submit"></button>
             {% endcomment %}
            <form id= "id">
				<div >
					<input class="input_footer" type="text" id="username" placeholder="Nhập tên của bạn" />
					<span></span>
					<small></small>
				</div>
				<div >
					<input class="input_footer" type="email" id="email" placeholder="Nhập Email của bạn" />
					<span></span>
					<small></small>
				</div>
				
				
                <button class="input_submit-btn"><input type="submit" class="input_submit"></button>
                <div id="success-message" style="display:none;">Đăng ký thành công!</div>
			</form>
            
        </div>
    </footer>
    
    <script>
        const header = document.getElementById('header-menu');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenu.onclick = function() {
            var isClosed = header.clientHeight === 60;
            if (isClosed) {
                header.style.height = "auto";
            }
            else{
                header.style.height = "60px";
            }
        }

    </script>
</body>
</html>
