{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style-comment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/panolens.css' %}">
    <link rel="stylesheet" href="{% static './assets/fonts/fontawesome-free-6.1.1-web/css/all.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
			integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
        <script src=" https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
       
    <script type="text/javascript" src="{% static 'js/onclickImg.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/submit_footer_home.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
    <script type="text/javascript" src="{% static 'js/panolens.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/reply.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/data-comment.js' %}"></script>
    <script type="module" src="{% static 'js/map.js' %}"></script>

    <title>Web tro</title>
</head>
<body>
    <header id="header-menu" class="header">
        <div class="header_logo">
            <a href="{% url 'main' %}"><img class="header_logo_img" src="{% static 'assets/img/Home_logo.png' %}" alt=""></a>
        </div>

        <section class="menu_header">
            <nav class="item-header">
               <a href="{% url 'main' %}">Trang chủ</a> <div id="mobile-menu" class="menu_btn"><i class=" fa-solid fa-bars"></i></div> 
               <a href="{% url 'map' %}">Bản Đồ</a>
               <a href="{% url 'contact' %}">Liên Lạc</a>
                {% if user.is_authenticated %}
               <a href="{% url 'manage' %}">Quản Lý</a>
               <a href="{% url 'upload' %}">Đăng Tải</a>
               <a href="{% url 'logout' %}">Đăng Xuất</a>
                {% else %}
               <a href="{% url 'login' %}">Đăng Nhập</a>
                {% endif %}
            </nav>
        </section>
    </header>

    <div class="container">
        <div class="inn_infor">
            <div class="inn_image">
                <div class="inn_slides">
                    <button class="btn_arrow_left"><i class="fa-solid fa-angle-left prev"></i></button>
                    <div class="img_slides">
                        <img class="img_slides" src="/{{ house_infomation.thumbnail }}" alt="">
                    </div>
                    {% comment %} <img class="img_slides" src="{% static './assets/img/20230129103403-29ad_wm.jpg' %}" alt=""> {% endcomment %}
                    <button class="btn_arrow_right"><i class="fa-solid fa-angle-right next"></i></button>
                </div>


                <div class="inn_img">
                    {% for img in images %}
                        <div class="item_inn_imgae active"><img src="/{{ img.images }}" alt=""></div>
                    {% endfor %}
                </div>
            </div>
            <div class="inn_title_price">
                <div class="inn_title">
                    <h1>{{ house_infomation.house_type.house_type }}</h1> 
                    <p>{{ house_infomation.address }}, {{ house_infomation.ward.ward }}, {{ house_infomation.district.district }}, Hà Nội</p>          
                </div>
                
                <div class="inn_price">
                    <h1>{{ house_infomation.price_per_month }} triệu/tháng</h1>
                </div>
            </div>
            
            <div class="inn_information">
                <div class="inn_information_item">Diện tích
                    <h1>{{ house_infomation.area }}m2</h1>
                </div>
                <div class="inn_information_item">
                    Nội thất
                    {% if house_infomation.air_conditioner == 1 and house_infomation.wardrobe == 1 and house_infomation.fan == 1 and house_infomation.electric_water_heater == 1 %}
                    <h1>Đầy đủ</h1>
                    {% else %}
                    <h1>
                        {% if house_infomation.air_conditioner == 1 %}Điều hòa{% endif %}{% if house_infomation.wardrobe == 1 %} Tủ{% endif %}{% if house_infomation.fan == 1 %} Quạt{% endif %}{% if house_infomation.electric_water_heater == 1 %} Nóng lạnh{% endif %}
                    </h1>
                    {% endif %}
                </div>
                <div class="inn_information_item">Nhà vệ sinh
                {% if house_infomation.wc == 0 %}
                    <h1>Vệ sinh chung</h1>
                {% else %}
                    <h1>Vệ sinh riêng</h1>
                {% endif %}
                </div>
                <div class="inn_information_item">Bãi đỗ ô tô
                {% if house_infomation.car_parking_area == 0 %}
                    <h1>Không có</h1>
                {% else %}
                    <h1>Có</h1>
                {% endif %}
                </div>
                <div class="inn_information_item">Khu để xe
                {% if house_infomation.parking_area == 0 %}
                    <h1>Không có</h1>
                {% else %}
                    <h1>Có</h1>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="inn_describe">
            <div class="inn_describe_title">
                <h1>Mô tả</h1>
            </div>
            <div class="inn_detailed_description">
                <p>{{ house_infomation.description }}</p>
            </div>
        </div>
        
        <div class="inn_describe">
            <div class="inn_describe_title">
                <h1>Phụ phí</h1>
            </div>
            <div class="inn_detailed_description">
                <p>Tiền nước: {{ house_infomation.water_price }} đồng</p>
                <p>Tiền điện: {{ house_infomation.price_per_electric_num }} đồng/số</p>
                <p>Phí môi trường: {{ house_infomation.junk_money }} đồng</p>
            </div>
        </div>

        <div class="inn_describe">
            <div class="inn_describe_title">
                <h1>Ghi chú:</h1>
            </div>
            <div class="inn_detailed_description">
                {% if house_infomation.pet_allow == 0 %}
                <p>Không cho phép nuôi thú</p>
                {% else %}
                <p>Cho phép nuôi thú</p>
                {% endif %}
                {% if house_infomation.cooking_area == 0 %}
                <p>Không có khu vực nấu ăn</p>
                {% else %}
                <p>Có khu vực nấu ăn</p>
                {% endif %}
            </div>
        </div>
        <div id="img_panolens" data-img="/{{ house_infomation.thumbnail}}"></div>
        <div class="tour">
            <div class="container">
                <div class="tour__head">
                    <h2>3D TOUR</h2>
                </div>
                <div class="image-container"></div>
            </div>
        </div>
 
        <div class="map_API">
            <h1 class="map_title">Bản đồ</h1>
            <div id="map"></div>
            <div id="lat" data-lat="{{ house_infomation.lat}}"></div>
            <div id="lng" data-lng="{{ house_infomation.lng}}"></div>
            <div id="title" data-title="{{ house_infomation.address }}, {{ house_infomation.ward.ward }}, {{ house_infomation.district.district }}, Hà Nội">

            <!-- 
              The `defer` attribute causes the callback to execute after the full HTML
              document has been parsed. For non-blocking uses, avoiding race conditions,
              and consistent behavior across browsers, consider loading using Promises
              with https://www.npmjs.com/package/@googlemaps/js-api-loader.
              -->
              <script>
                (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="_ib_",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
                  key: "AIzaSyDNI_ZWPqvdS6r6gPVO50I4TlYkfkZdXh8",
                  // Add other bootstrap parameters as needed, using camel case.
                  // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
                });
              </script>
        </div>
<article>
        <h2 class="comments-title">Đánh giá bình luận</h2>
        <ul class="comments-list">
              {% if all_comments %}
                {% for comment in all_comments %}
                  <li>
                    <div class="comment">
                      <div class="comment-author">
                        <img src="{% static './assets/img/avatar-5.png' %}" alt="avatar-5">
                      </div>
                      <div class="comment-content">
                        <div class="comment-meta">
                          <div class="comment-meta-author">
                            Đăng bởi
                            <a href="#">{{ comment.name }}</a>
                          </div>
                          <div class="comment-meta-date">
                            <span class="hidden-xs">{{ comment.date_time }}</span>
                          </div>
                        </div>
                        <div class="comment-body">
                          <div class="comment-rating">
                            {% if comment.star_rating == 1 %}
                              <i class="fa fa-star"></i>
                            {% elif comment.star_rating == 2 %}
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            {% elif comment.star_rating == 3 %}
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            {% elif comment.star_rating == 4 %}
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            {% else %}
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            {% endif %}
                          </div>
                          {{ comment.comment }}
                        </div>
                        <div class="comment-footer">
                          <div id="likeButton" class="button">
                            <i class="fa fa-thumbs-up"></i>
                            <p id="likeCount">0</p>
                          </div>
                          <div id="dislikeButton" class="button">
                            <i class="fa fa-thumbs-down"></i>
                            <p id="dislikeCount">0</p>
                          </div>
                          <div class="comment-meta-reply">
                            <a class="reply" href="#">Phản hồi</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% comment %} Rep comment {% endcomment %}
                    {% if all_replies %}
                      {% for reply in all_replies %}
                        {% if reply.id == comment.id %}
                        <div class="reply-{{ reply.id }}"><div class="comment-reply">
                            <div class="comment-reply-cmt">
                              <div class="comment-author">
                                <img src="{% static './assets/img/avatar-5.png' %}" alt="avatar-5">
                              </div>
                              <div class="comment-content-reply-cmt">
                                <div class="comment-meta">
                                  
                                  <div class="comment-meta-author">
                                    <div class="reply-comment-by">
                                      Trả lời đánh giá của {{ comment.name }}
                                    </div>
                                    Đăng bởi
                                    <a href="#">Người ẩn danh</a>
                                  </div>
                                  <div class="comment-meta-date">
                                    <span class="hidden-xs">{{ reply.date_time }}</span>
                                  </div>
                                </div>
                                <div class="comment-body-reply-cmt">
                                  <div class="comment-input-wrapper">
                                    <input class="input-reply-cmt" name="content" type="text" value="{{ reply.content }}" readonly>
                                  </div>
                                </div>
                                <div class="comment-footer-reply-cmt">
                                  <div class="form-group-reply-cmt">
                                    <button type="submit" class="button-md button-theme submit-comment-button">Gửi đánh giá</button>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                          </form>
                          <div id="submitted-comment" style="display: none;">
                            <!-- Nội dung bình luận đã được gửi sẽ được hiển thị ở đây -->
                          </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    
                    <div class="comment-reply">
                      <form class="reply-form" name="reply" data-comment-id="{{ comment.id }}" method="post">
                        {% csrf_token %}
                        <div class="comment-reply-cmt">
                          <div class="comment-author">
                            <img src="{% static './assets/img/avatar-5.png' %}" alt="avatar-5">
                          </div>
                          <div class="comment-content-reply-cmt">
                            <div class="comment-meta">
                              
                              <div class="comment-meta-author">
                                <div class="reply-comment-by">
                                  Trả lời đánh giá của 
                                </div>
                                Đăng bởi
                                <a href="#">Người ẩn danh</a>
                              </div>
                              <div class="comment-meta-date">
                                <span class="hidden-xs"></span>
                              </div>
                            </div>
                            <div class="comment-body-reply-cmt">
                              <div class="comment-input-wrapper">
                                <input class="input-reply-cmt" name="content" type="text">
                              </div>
                            </div>
                            <div class="comment-footer-reply-cmt">
                              <div class="form-group-reply-cmt">
                                <button type="submit" class="button-md button-theme submit-comment-button">Gửi đánh giá</button>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </form>
                      <div id="submitted-comment" style="display: none;">
                        <!-- Nội dung bình luận đã được gửi sẽ được hiển thị ở đây -->
                      </div>
                    </div>
                    
                  </li>
                {% endfor %}
              {% else %}
              <div class="no-comment">
                <div class="no-comment-message">
                  <i class="fa fa-comment-slash"></i>
                  Hiện tại chưa có bình luận nào
                </div>
                <p class="no-comment-submessage">
                  Bạn có thể bổ sung đánh giá trực tiếp tại phần đánh giá trả nghiệm của người dùng
                </p>
                <div class="no-comment-animation">
                  <div class="no-comment-dot"></div>
                  <div class="no-comment-dot"></div>
                  <div class="no-comment-dot"></div>
                </div>
              </div>
                          
              {% endif %}
          </ul>
          
        </article>
        <!-- Comments end -->
         <!-- Contact form start -->
         <article>
            <div class="contact-form">
              <h2 class="comments-title">Đánh giá trải nghiệm của người dùng</h2>
              <form id="contact_form" name="comment" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group">
                    <div class="name-comment">
                      <input type="text" id="name" name="full-name" class="input-text-comment" placeholder="Tên của bạn" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" class="input-text-comment" placeholder="Email của bạn" required>
                  </div>
                  <div class="form-group">
                    <input type="text" id="content" name="subject" class="input-text-comment" placeholder="Nội dung" required>
                  </div>
                  <div class="form-group">
                    <input type="text" name="phone" class="input-text-comment" placeholder="Số điện thoại" required>
                  </div>
                  <div class="form-group">
                    <label for="rating">Đánh giá:</label>
                    <div id="star-rating">
                      <i class="fa fa-star star" data-rating="1"></i>
                      <i class="fa fa-star star" data-rating="2"></i>
                      <i class="fa fa-star star" data-rating="3"></i>
                      <i class="fa fa-star star" data-rating="4"></i>
                      <i class="fa fa-star star" data-rating="5"></i>
                    </div>
                    <input type="hidden" id="rating" name="rating" value="" required>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="button-md button-theme">Gửi phản hồi</button>
                  </div>
                </div>
                <div id="rating-info" class="rating-info">Chưa đánh giá</div>
              </form>
              
            </div>
          </article>
          
          
          
          
        <!-- Contact form end -->
        

        

    <footer class="footer">
        <div class="footer_list-item">
            <div class="footer_text">
                <div class="contact_footer">
                    CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM
                    <li><i class="fa-regular fa-location-dot"></i><p>Tầng 31, Keangnam Hanoi Landmark, Phạm Hùng, Nam Từ Liêm, Hà Nội</p></li>
                    <li><i class="fa-regular fa-phone-volume"></i><p>(024) 3562 5939 - (024) 3562 5940</p></li>
                </div>
            </div>
        </div>
        <div class="footer_list-item">
            <div class="footer_text">HƯỚNG DẪN
                    <li><a href="">Báo giá & hỗ trợ</a></li>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="">Thông báo</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Sitemap</a></li>
                
            </div>
        </div>
        <div class="footer_list-item">
            <div class="footer_text">QUY ĐỊNH
                <ul>
                    <li><a href="">Quy định đăng tin</a></li>
                    <li><a href="">Quy chế hoạt động</a></li>
                    <li><a href="">Điều khoản thỏa thuận</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Giải quyết khiếu nại</a></li>
                    <li><a href="">Góp ý báo lỗi</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_list-item">
            <div class="input_footer_text">
                ĐĂNG KÝ NHẬN TIN
            </div>
            <form class='form_home'>
				<div >
					<input class="input_footer" type="text" id="username" placeholder="Nhập tên của bạn" />
					<span></span>
					<small class = "color_home"></small>
				</div>
				<div >
					<input class="input_footer" type="email" id="email_home" placeholder="Nhập Email của bạn" />
					<span></span>
					<small class = "color_home"></small>
				</div>
				
				
                <button class="input_submit-btn"><input type="submit" class="input_submit"></button>
                <div id="success-message-home" style="display:none;">Đăng ký thành công!</div>
			</form>
        </div>
    </footer>
    
    <script>
        const header = document.getElementById('header-menu');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenu.onclick = function() {
            var isClosed = header.clientHeight === 60;
            if (isClosed) {
                header.style.height = "auto";
            }
            else{
                header.style.height = "60px";
            }
        }

    </script>
</body>
</html>
