{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" href="{% static './assets/fonts/fontawesome-free-6.1.1-web/css/all.min.css' %}">
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
			integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
    <script type="text/javascript" src="{% static 'js/onclickImg.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/submit_footer.js' %}"></script>
    <title>Web tro</title>
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <a href="{% url 'main' %}"><img class="header_logo_img" src="{% static 'assets/img/logo_inn.jpg' %}" alt=""></a>
        </div>

        <section class="menu_header">
            <nav class="item-header">
                <a href="{% url 'index' %}">Home</a>
               <a href="">About</a>
               <a href="">Services</a>
               <a href="">Blog</a>
               <a href="">Contact</a>
                {% if user.is_authenticated %}
               <a href="{% url 'manage' %}">Manage</a>
               <a href="{% url 'upload' %}">Upload</a>
               <a href="{% url 'logout' %}">Logout</a>
                {% else %}
               <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </section>
    </header>

    <div class="container">
        <div class="inn_infor">
            <div class="inn_image">
                <div class="inn_slides">
                    <button class="btn_arrow_left"><i class="fa-solid fa-angle-left prev"></i></button>
                    <div class="img_slides">
                        <img class="img_slides" src="{% static './assets/img/20230129103403-29ad_wm.jpg' %}" alt="">
                    </div>
                    {% comment %} <img class="img_slides" src="{% static './assets/img/20230129103403-29ad_wm.jpg' %}" alt=""> {% endcomment %}
                    <button class="btn_arrow_right"><i class="fa-solid fa-angle-right next"></i></button>
                </div>


                <div class="inn_img">
                    <div class="item_inn_imgae active" ><img  src="{% static './assets/img/20230129103403-29ad_wm.jpg' %}"  alt=""></div>
                    <div class="item_inn_imgae"><img  src="{% static './assets/img/20230129103403-4baa_wm.jpg' %}"  alt=""></div>
                    <div class="item_inn_imgae"><img  src="{% static './assets/img/20230129103403-8071_wm.jpg' %}"   alt=""></div>
                    <div class="item_inn_imgae"><img  src="{% static './assets/img/20230129103403-5ab1_wm.jpg' %}" alt=""></div>
                    <div class="item_inn_imgae" ><img src="{% static './assets/img/20230129103403-769f_wm.jpg' %}"   alt=""></div>
                    <div class="item_inn_imgae"><img  src="{% static './assets/img/20230129103403-cbfa_wm.jpg' %}"  alt=""></div>
                    <div  class="item_inn_imgae"><img src="{% static './assets/img/20230129103403-eff2_wm.jpg' %}" alt=""></div>
                    <div class="item_inn_imgae"> <img  src="{% static './assets/img/20230129103403-edcc_wm.jpg' %}"   alt=""></div>
                </div>
            </div>
            <div class="inn_title_price">
                <div class="inn_title">
                    <h1>Award-Winning Modern Mediterranean Style House</h1> 
                    <p>123 Any Street, HJ 12345</p>          
                </div>
                
                <div class="inn_price">
                    <h1>$700,000</h1>
                </div>
            </div>
            
            <div class="inn_information">
                <div class="inn_information_item">Built Year
                    <h1>2017</h1>
                </div>
                <div class="inn_information_item">Bedrooms
                    <h1>5</h1>
                </div>
                <div class="inn_information_item">Bathrooms
                    <h1>4</h1>
                </div>
                <div class="inn_information_item">Stories
                    <h1>2</h1>
                </div>
                <div class="inn_information_item">Sq. ft.
                    <h1>3060</h1>
                </div>
            </div>
        </div>

        <div class="inn_describe">
            <div class="inn_describe_title">
                <h1>Built for the future.</h1>
            </div>
            <div class="inn_detailed_description">
                <p> This 5 bedroom, 3 bathroom home has an estimated
                     4,000 total square feet with nearly 3 
                    acres & its own access to the Haywards River.</p>
                <p>
                    Extensive upgrades and thorough maintenance 
                    have kept this home in prime condition. Hardwood floors 
                    and new carpets create a very comfortable living space.
                </p>
            </div>
        </div>

        <div class="inn_slogan">
           
           
            <img class="inn_slogan-img" src="{% static './assets/img/alberto-castillo-q-mx4mskk9zeo-unsplash-5ab1_wm.jpg' %}" alt="">
            <div class="in_slogan_text">
                <h1>Luxurious & Environmentally Conscious Living.</h1>
    
                <p>Extensive upgrades and thorough maintenance have kept this home in prime condition. Hardwood floors and new carpets create a very comfortable living space.</p>
            </div>
        </div>

        <div class="landlords_infor">
            <div class="image_landlord">
                
                <img class="img_landlords" src="{% static './assets/img/agent.jfif' %}">
                </img>
            </div>

            <div class="landlord_information">
                <h1>About Agent.</h1>

                <p>Juan Pérez is a Certified Residential Specialist with over 12 years of experience of helping local clients sell homes. He achieved success due to 
                    his commitment to providing beautiful homes in Sussex.</p>
            </div>

            <div class="landlord_contact">
                <h1>Schedule a Private Showing.</h1>

                <p>Rivington Real Estate Team:
                    myemail@example.com
                    (123)-456-789
                    1 Example Street,
                    Anytown, 10100
                    USA</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer_list-item">
            <div class="footer_text">
                <div class="contact_footer">
                    CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM
                    <li><i class="fa-regular fa-location-dot"></i><p>Tầng 31, Keangnam Hanoi Landmark, Phạm Hùng, Nam Từ Liêm, Hà Nội</p></li>
                    <li><i class="fa-regular fa-phone-volume"></i><p>(024) 3562 5939 - (024) 3562 5940</p></li>
                </div>
            </div>
        </div>
        <div class="footer_list-item">
            <div class="footer_text">HƯỚNG DẪN
                    <li><a href="">Báo giá & hỗ trợ</a></li>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="">Thông báo</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Sitemap</a></li>
                
            </div>
        </div>
        <div class="footer_list-item">
            <div class="footer_text">QUY ĐỊNH
                <ul>
                    <li><a href="">Quy định đăng tin</a></li>
                    <li><a href="">Quy chế hoạt động</a></li>
                    <li><a href="">Điều khoản thỏa thuận</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Giải quyết khiếu nại</a></li>
                    <li><a href="">Góp ý báo lỗi</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_list-item">
            <div class="input_footer_text">
                ĐĂNG KÝ NHẬN TIN
            </div>    
            {% comment %} </div>
            <input type="text" id="input_name" class="input_footer" placeholder="Nhập tên của bạn"></input>
            <input type="text" id="input_email" class="input_footer" placeholder="Nhập Email của bạn"></input>
            <button class="input_submit-btn"><input type="submit" class="input_submit"></button>
             {% endcomment %}
            <form id= "id">
				<div >
					<input class="input_footer" type="text" id="username" placeholder="Nhập tên của bạn" />
					<span></span>
					<small></small>
				</div>
				<div >
					<input class="input_footer" type="email" id="email" placeholder="Nhập Email của bạn" />
					<span></span>
					<small></small>
				</div>
				
				
                <button class="input_submit-btn"><input type="submit" class="input_submit"></button>
                <div id="success-message" style="display:none;">Đăng ký thành công!</div>
			</form>
            
        </div>
    </footer>
</body>
</html>
