<table border="1" style="border-collapse: collapse">
    <tr>
        <th>ID</th>
        <th>Kiểu nhà</th>
        <th>Địa chỉ</th>
        <th>Tỉnh/Thành phố</th>
        <th>Quận/Huyện</th>
        <th>Phố/Phường/Xã</th>
        <th>Giá tiền 1 tháng</th>
        <th>Diện tích (m2)</th>
        <th>Mô tả</th>
        <th>Update</th>
    </tr>
    {% for field in allPosts %}
    <tr>
        <td>{{ field.id }}</td>
        <td>{{ field.house_type.house_type }}</td>
        <td>{{ field.address }}</td>
        <td>{{ field.province.province }}</td>
        <td>{{ field.district.district }}</td>
        <td>{{ field.ward.ward }}</td>
        <td>{{ field.price_per_month }}</td>
        <td>{{ field.area }}</td>
        <td>{{ field.description }}</td>
        <td><button><a href="{% url 'update' field.id %}">Update</a></button></td>
    <tr>
    {% endfor %}
</table>