{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>
    <link rel="stylesheet" href="{% static 'assets/css/manage.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
    
</head>
<body>

    <header class="header">
        <div class="header_logo">
            <a href="{% url 'main' %}"><img class="header_logo_img" src="{% static 'assets/img/Home_logo.png' %}" alt=""></a>
        </div>

        <section class="menu_header">
            <nav class="item-header">
               <a href="{% url 'main' %}">Home</a>
               <a href="">Services</a>
               <a href="">Contact</a>
                {% if user.is_authenticated %}
               <a href="{% url 'manage' %}">Manage</a>
               <a href="{% url 'upload' %}">Upload</a>
               <a href="{% url 'logout' %}">Logout</a>
                {% else %}
               <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </section>
    </header>




    <div class="container">

            {% for field in allPosts %}
            <div class="content">
                <div class="house_type"><h1>{{ field.house_type.house_type }}</h1></div> 
                <div class="price">{{ field.price_per_month }} Triệu/tháng</div>
                <div class="area">{{ field.area }} m²</div>
               
               <div class="address">{{ field.address }}, {{ field.ward.ward }}, {{ field.district.district }}, {{ field.province.province }}</div>
               
                <div class="image">
                    {%for img in images%}
                    {%if img.houses_id == field.id%}
                        <img src="/{{img.images}}">
                    {%endif%}
                    {%endfor%}
                </div>
                <div class="btn">
                    <a class="update_btn" href="{% url 'update' field.id %}"> <p> Cập nhật</p></a></td>
                    <a class="cancel_btn" href="{% url 'delete' field.id %}"><p>Xóa</p> </a></td>

                </div>
            </div>
            {% endfor %}
        
    </div>
</body>
</html>

