body{
    background-color: var(--primary-color); 
}

/* header  */

.header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin: 15px 25px;
}

.header_logo_img{
    width: 80px;
}


nav a {
    position: relative;
    display: inline-block;
    margin: 15px 15px;
    outline: none;
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
  }
  
  nav a:hover,
  nav a:focus {
    outline: none;
  }
  
  

.item-header{
    list-style: none;
}

.item-header a{
    padding: 8px 0;
}

.item-header a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(255,255,255,0.3);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}
  
.item-header a:hover::after,
.item-header a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}



/* container  */
.container{
    margin: 48px 0 ;

}

.inn_infor{
    margin: 0 25px;
}

.inn_slides{
    display: flex;
}

.btn_arrow{
    height: 30px;
    width: 30px;
    margin-top: 230px;
    background-color: transparent;
    border: none;
    color: var(--white-color);
    font-size: 44px;
}

.btn_arrow:hover{
    cursor: pointer;
}

.img_slides{
    margin: 0 8px;
    width: 650px;
    height: 500px;
}

.inn_img{
    grid-column-gap: 70px;
    display: grid;
    grid-template-columns: 15% 15% 15%;
    margin: 0 8px;
}

.item_inn_imgae{
    width: 150px;
    height: 150px;
}

.inn_image{
    display: flex;
}

.inn_title_price{
    display: flex;
    color: var(--white-color);
    justify-content: space-between;
    margin: 70px 25px;
}

.inn_title h1{
    width: 650px;
}
.inn_title p{
    line-height: 70px;
    font-size: 20px;
}

.inn_price{
    margin-right: 150px;
}
.inn_information{
    margin: 0px 25px 70px;
    display: grid;
    color: var(--white-color);
    grid-template-columns: 20% 20% 20% 20% 20%;


}
.inn_information_item{
    text-align: center;
    margin: 0 10px;
    border-top: 2px solid rgb(53,58,70);
    border-bottom: 2px solid rgb(53,58,70);
    padding: 20px 0;

}

.inn_information_item h1{
    margin: 20px 0;
}

.inn_describe{
    background-color: var(--white-color);
    display: flex;
}

.inn_describe_title{
    margin: 100px;
}

.inn_describe_title h1{
    width: 290px;
}
.inn_detailed_description{
    margin: 100px 100px 76px 0px;
    line-height: 30px;
}

.inn_detailed_description p{
    margin-bottom: 24px;
    font-size: 18px;
}

.inn_slogan{
    position: relative;
}

.inn_slogan-img{
    width: 100%;
    height: 500px;

}

.in_slogan_text{
    color: var(--white-color);
    text-align: center;
    position: absolute;
    bottom: 250px;
    right: 0;
    left: 0;
}

.in_slogan_text h1{
    font-size: 40px;
}

.in_slogan_text p{
    margin-top: 30px;
}

.landlords_infor{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 30px;
    margin: 100px;

}

.image_landlord{
    height: 350px;
}

.img_landlords{
    width: 100%;
    height: 100%;
}

.landlord_information,
.landlord_contact{
    color: var(--white-color);
    line-height: 32px;
}

.landlord_contact h1,
.landlord_information h1{
    margin-bottom: 30px;
    line-height: 42px;
}

/* footer */

.footer{
    background-color: #111;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-column-gap: 10px;
}

.footer_list-item{
    padding: 40px;
}

.logo_footer{
    margin-bottom: 40px;
}

.logo_footer img{
    width: 100px;
}
.contact_footer{
    
}
.contact_footer li{
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.contact_footer li i{
    padding-right: 12px;
}


.footer_text{
    color: var(--white-color);
}

.footer_text li{
    list-style: none;
    text-decoration: none;
    color: #ccc;
}

.footer_text li{
    list-style: none;
    margin: 20px 0;
}


.footer_text li a{
    text-decoration: none;
    color: #ccc;

}

.input_footer_text{
    color: var(--white-color);
}

.input_submit{
    width: 40px;
    border: none;
    height: 25px;
    background-color: #e64141;
    color: var(--white-color);
}

.input_submit:hover{
    cursor: pointer;
    opacity: .7;
}

.input_footer{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    outline: none;

}

.input_submit-btn{
    margin-top: 15px;
}

.input_submit-btn:hover{
    opacity: .7;
    cursor: pointer;
}
