

body {
        background-color: var(--primary-color);
        color: white;
        font-family: 'Raleway', sans-serif;
    }
    
    



.header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin: 15px 25px;
  }
  
  .header_logo_img{
    width: 130px;
  }
  
  
  
  
  nav a {
    position: relative;
    display: inline-block;
    margin: 15px 15px;
    outline: none;
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
  }
  
  nav a:hover,
  nav a:focus {
    outline: none;
  }
  
  
  
  .item-header{
    list-style: none;
  }
  
  .item-header a{
    padding: 8px 0;
  }
  
  .item-header a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(249, 193, 193, 0.503);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
  
  .item-header a:hover::after,
  .item-header a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  





  .container{
    text-align: center;
    margin: 10% 30%;
    background-color: #ffffff;
    height: 250px;
    border-radius: 24px;
  }

  .text_question{
    padding: 30px 0;
    color: #ffffffda ;
    background-color: #F6BDC0;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    text-transform: uppercase;
  }



.form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0 ;
}

a{
    display: block;
    text-decoration: none;
}

  .confirm {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.confirm_btn {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: var(--white-color);
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
    width: 100%;
    }

.confirm_btn:hover {
    transform: translateY(-6px);
}

.cancel_btn {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: var(--white-color);
    background: linear-gradient(90deg, rgb(235, 132, 132) 0%, rgb(209, 79, 79) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(209, 94, 79, 0.525);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
    width: 100%;
    }

.cancel_btn:hover {
    transform: translateY(-6px);
}



  


/* responsive */
/* PC */
@media (min-width: 64em) {
  .menu_btn{
      display: none;
  }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  /* header  */

  .item-header{
      display: flex;
  }
  .item-header a {
      padding: 8px;
      text-align: center;
  }

  .menu_btn{
      display: none;
  }


  /* container */
  .container{
    width: 90%;
    margin: 120px auto;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  /* header  */
  .header{
      overflow: hidden;
      position: fixed;
      z-index: 1;
      top: 0;
  }

  .header_logo{
      margin: 0 24px 0 0;
  }

  .menu_btn{
      float: right;
      margin: 18px;
      color: var(--white-color);
  }

  .menu_btn:hover{
      color: #777;
  }

  .item-header{
      display: block;
      background-color: #F6BDC0;
  }

  .header_logo_img{
      width: 90px;
  }

  .item-header a{
      padding: 21px 0;
      margin: 0 40px 0 16px;
  }

  .container{
    width: 90%;
    margin: 60% auto;
  }

  .text_question{
    padding: 20px 0;
  }

  .cancel_btn, .confirm_btn{
    font-size: 18px;
  }
}

  