body {
    background-color: var(--primary-color);
    color: white;
    font-family: 'Raleway', sans-serif;
}



/* header */

.header{
display: flex;
height: 60px;
justify-content: space-between;
margin: 15px 25px;
}

.header_logo_img{
width: 130px;
}




nav a {
position: relative;
display: inline-block;
margin: 15px 15px;
outline: none;
color: #777;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 100;
text-shadow: 0 0 1px rgba(255,255,255,0.3);
font-size: 1em;
}

nav a:hover,
nav a:focus {
outline: none;
}



.item-header{
list-style: none;
}

.item-header a{
padding: 8px 0;
}

.item-header a::after {
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 4px;
background: rgba(249, 193, 193, 0.503);
content: '';
opacity: 0;
-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
-moz-transition: opacity 0.3s, -moz-transform 0.3s;
transition: opacity 0.3s, transform 0.3s;
-webkit-transform: translateY(10px);
-moz-transform: translateY(10px);
transform: translateY(10px);
}

.item-header a:hover::after,
.item-header a:focus::after {
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
transform: translateY(0px);
}



/* container */

.container{
    margin: 48px 0 ;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 44px;
    grid-column-gap: 54px;
    padding: 0 24px ;
    width: 100%;
}


.content{
    background: linear-gradient( rgb(226, 120, 247) 0%, rgb(223, 198, 226) 100%);
    padding: 24px;
    color: rgba(0, 0, 0, 0.67);
    border-radius: 12px;
    transition: 500ms linear; 
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;


}

.content:hover{
    transform: scale(1.1);
}


.house_type{
    font-size: 18px;
    margin-bottom: 16px;
}

.price{
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;
}

.area {
    font-size: 18px;
}

.address{
    font-size: 18px;
}

.image{
    margin-top: 14px;
    font-size: 16px;
}
.image img{
    height: auto;
    width: 100%;
}


.cancel_btn {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: var(--white-color);
    background: linear-gradient(90deg, rgb(240, 107, 107) 0%, rgb(214, 46, 46) 100%);
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
    height: 24px;

    }

.cancel_btn:hover {
    transform: translateX(-2px);
}

.cancel_btn p{
    text-align: center;
    margin: 5px 0;
}

.btn{
    margin: 24px 0 0 0;
}

.update_btn {
    position: relative;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: var(--white-color);
    background: linear-gradient(90deg, rgb(94, 94, 213) 0%, rgb(57, 46, 214) 100%);
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 44px;
    margin:  0 0 24px 0 ;
    
    }

.update_btn:hover {
    transform: translateX(2px);
}

.update_btn p{
    display: block;
    text-align: center;
    padding: 12px 0 ;
}


.square{

}


