
h2{
    margin: 0;
    color: #8A8A8A;
}
.tour__head{
    text-align: center;
    margin-bottom: 50px;
}

.image-container{
    height: 26.190rem;

    position: relative;
    width: 78%;
    display: block;
    margin: 0 auto;
    margin-left: 12%;
    overflow: hidden;
    
  border: 2px solid #ebb47a;
  border-radius: 10px;
}

canvas{
    width: 100%;
}